@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Roboto+Condensed:wght@300&family=Tiro+Devanagari+Sanskrit&display=swap");
body,
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  /* background-color: #001529; */
}
